body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #828f98;
}

.contenedor{
    border-radius: 25px;
    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    max-width: 100%;
    -webkit-box-shadow: -15px -3px 28px -19px #000000; 
    box-shadow: -15px -3px 28px -19px #000000;
    background: linear-gradient(#293a4c,#1e2126);
    padding: 20px;
}

.contenedor h1{
    color: white;
    display: flex;
    justify-content: center;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/*personal*/

.contenedor .personal{
    position: relative;
}

.contenedor .personal p{
    float: left;
    width: 45%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
}
  
.contenedor .personal h3{
    color: white;
    text-align: center;
}

.contenedor .personal .formulario input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.contenedor .personal .formulario label {
    position: relative;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    top: -50px;
}

.contenedor .personal .formulario input:focus ~ label,
.contenedor .personal .formulario input:valid ~ label {
    left: 0px;
    top: -80px;
    color: #617188;
    font-size: 12px;
    position: relative;
}

.contenedor .personal .formulario-fecha input {
    width: 100%;
    padding-top: 16px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.contenedor .personal .formulario-fecha label {
    position: relative;
    top: -70px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.contenedor .personal .formulario-texto{
    text-align: center;
}

.contenedor .personal .formulario-texto label {
    position: relative;
    top: -75px;
    left: -510px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.contenedor .personal .formulario-texto textarea {
    color: white;
    background: transparent;
    border: 2px solid #444;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 35px;
    width: 50%;
    resize: none;
}

/*experinecia*/

.contenedor .experiencia{
    position: relative;
}

.contenedor .experiencia p{
    float: left;
    width: 45%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
}
  
.contenedor .experiencia h3{
    color: white;
    text-align: center;
}

.contenedor .experiencia .formulario input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.contenedor .experiencia .formulario label {
    position: relative;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    top: -50px;
}

.contenedor .experiencia .formulario input:focus ~ label,
.contenedor .experiencia .formulario input:valid ~ label {
    left: 0px;
    top: -80px;
    color: #617188;
    font-size: 12px;
    position: relative;
}

.contenedor .experiencia .formulario-fecha input {
    width: 100%;
    padding-top: 20px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.contenedor .experiencia .formulario-fecha label {
    position: relative;
    top: -70px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.contenedor .experiencia .formulario-texto{
    text-align: center;
}

.contenedor .experiencia .formulario-texto label {
    position: relative;
    top: -75px;
    left: -510px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.contenedor .experiencia .formulario-texto textarea {
    color: white;
    background: transparent;
    border: 2px solid #444;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 35px;
    width: 50%;
    resize: none;
}

/*educacion*/

.contenedor .educacion{
    position: relative;
}

.contenedor .educacion p{
    float: left;
    width: 45%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
}
  
.contenedor .educacion h3{
    color: white;
    text-align: center;
}

.contenedor .educacion .formulario input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.contenedor .educacion .formulario label {
    position: relative;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    top: -50px;
}

.contenedor .educacion .formulario input:focus ~ label,
.contenedor .educacion .formulario input:valid ~ label {
    left: 0px;
    top: -80px;
    color: #617188;
    font-size: 12px;
    position: relative;
}

.contenedor .educacion .formulario-fecha input {
    width: 100%;
    padding-top: 20px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.contenedor .educacion .formulario-fecha label {
    position: relative;
    top: -70px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.contenedor .educacion .formulario-texto{
    text-align: center;
}

.contenedor .educacion .formulario-texto label {
    position: relative;
    top: -75px;
    left: -510px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.contenedor .educacion .formulario-texto textarea {
    color: white;
    background: transparent;
    border: 2px solid #444;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 35px;
    width: 50%;
    resize: none;
}


/*software*/

.contenedor .software{
    position: relative;
}

.contenedor .software p{
    float: left;
    width: 45%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
}
  
.contenedor .software h3{
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.contenedor .software .formulario input {
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.contenedor .software .formulario label {
    position: relative;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    top: -50px;
}

.contenedor .software .formulario input:focus ~ label,
.contenedor .software .formulario input:valid ~ label {
    left: 0px;
    top: -80px;
    color: #617188;
    font-size: 12px;
    position: relative;
}

.contenedor .software .radio-lista{
    margin: 10px;
    margin: 10px;
    position: relative;
    left: 130px;
    top: -40px;
}
  
.contenedor .software .formulario-radio .radio-lista input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
  
.contenedor .software .formulario-radio .radio-lista label {
      display: inline-block;
      background: transparent;
      padding: 10px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid #444;
      border-radius: 4px;
      color: white;
}
  
.contenedor .software .formulario-radio .radio-lista label:hover {
    background-color: #527190;
    color: black;
}
  
.contenedor .software .formulario-radio .radio-lista input[type="radio"]:focus + label {
      border: 2px dashed #444;
}
  
.contenedor .software .formulario-radio .radio-lista  input[type="radio"]:checked + label {
      background-color: #293a4c;
      border-color: #527190;
}

.contenedor .software .formulario-radio h4{
    color: white;
    position: relative;
    left: 184px;
    top: -20px;
    color: white;
}

/*skills*/

.contenedor .skills{
    position: relative;
}

.contenedor .skills p{
    float: left;
    width: 45%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
}
  
.contenedor .skills h3{
    color: white;
    text-align: center;
    margin-bottom: 40px; 
}

.contenedor .skills .formulario input {
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.contenedor .skills .formulario label {
    position: relative;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    top: -50px;
}

.contenedor .skills .formulario input:focus ~ label,
.contenedor .skills .formulario input:valid ~ label {
    left: 0px;
    top: -80px;
    color: #617188;
    font-size: 12px;
    position: relative;
}

.contenedor .skills .radio-lista{
    margin: 10px;
    margin: 10px;
    position: relative;
    left: 130px;
    top: -40px;
}
  
.contenedor .skills .formulario-radio .radio-lista input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
  
.contenedor .skills .formulario-radio .radio-lista label {
      display: inline-block;
      background: transparent;
      padding: 10px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid #444;
      border-radius: 4px;
      color: white;
}
  
.contenedor .skills .formulario-radio .radio-lista label:hover {
    background-color: #527190;
    color: black;
}
  
.contenedor .skills .formulario-radio .radio-lista input[type="radio"]:focus + label {
      border: 2px dashed #444;
}
  
.contenedor .skills .formulario-radio .radio-lista  input[type="radio"]:checked + label {
      background-color: #293a4c;
      border-color: #527190;
}

.contenedor .skills .formulario-radio h4{
    color: white;
    position: relative;
    left: 184px;
    top: -20px;
    color: white;
}

/*redes*/

.contenedor .redes{
    position: relative;
}

.contenedor .redes h3{
    color: white;
    text-align: center;
}

.contenedor .redes p{
    float: left;
    width: 45%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
}

.contenedor .redes .formulario input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.contenedor .redes svg{
    width: 20px;
    height: 20px;
    filter: invert(1);
    top: 5px;
    position: relative;
}

/*boton*/

.contenedor .form-boton{
    text-align: center;
}

.contenedor .form-boton button{
    color: white;
    background: transparent;
    border: 2px solid #444;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
}

.contenedor .form-boton button:hover {
    background-color: #527190;
    color: black;
}