body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #828f98;
}

.contenedor{
    border-radius: 25px;
    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    -webkit-box-shadow: -15px -3px 28px -19px #000000; 
    box-shadow: -15px -3px 28px -19px #000000;
    background: linear-gradient(#293a4c,#1e2126);
    padding: 20px;
    text-align: center;
}

.contenedor h1{
    color: white;
    display: flex;
    justify-content: center;
}

.contenedor p{
    color: white;
}

button{
    color: white;
    background: transparent;
    border: 2px solid #444;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
}

button:hover {
    background-color: #527190;
    color: black;
}

img{
    margin-bottom: 20px;
    max-width: -webkit-fill-available;
}